.cartContainer{
    border-radius: 15px;
    margin-top: 10px;
    background-color : var(--body_color);
    padding : 10px;
}

.cartProductContainer{
    /* background-color : var(--nuance_color5); */
    border-bottom : 2px solid var(--nuance_color5);
    /* border-radius: 15px; */
    margin-bottom : 10px;
    padding : 10px;
}
.cartProductTitle{
    display : flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom : 10px;
}
.cartProductImage{
    width : 100px;
    height : 100px;
    object-fit: cover;
    border-radius : 15px;
}
.cartProductDetail{
    border : 1px solid var(--nuance_color4);
    border-radius : 15px;
    padding : 10px;
    text-align: start;
}
.cartProductDetailTitle{
    text-align: center;
}