#swiperContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width : 60%;
}

.Swiper{
    width : 90%;
    height : auto;
    margin : 10px;
}

.productSwiperMain{
    width : 600px;
    height : 600px;
    border-radius: 25px;
    object-fit: cover;
}
.SwiperNav{
    width : 55px;
    height : 575px;
}
.productSwiperThumb {
    width : 50px;
    height : 50px;
    border-radius: 15px;
    object-fit:cover;
    &:hover{
        cursor: pointer;
        transition: 200ms;
    }
}

@media (max-width : 840px){
    #swiperContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width : 100%;
    }
    .Swiper{
        width : 100%;
        height : auto;
        margin : 10px;
    }
    .productSwiperMain{
        width : 100%;
        height : 500px;
        border-radius: 25px;
        object-fit: cover;
    }
    .SwiperNav{
        width : 100%;
        height : 50px;
    }
}
@media (max-width : 1280px){
    /* #swiperContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width : 100%;
    } */
    .Swiper{
        overflow: visible;
    }
    /* .productSwiperMain{
        width : 100%;
        height : 500px;
        border-radius: 25px;
        object-fit: cover;
    }
    .SwiperNav{
        width : 100%;
        height : 50px;
    } */
}