#swiperContainer{
    display: flex;
    flex-direction: column;
    width : 100%;
}

#productSwiperMain{
    width : 100%;
    max-width : 560px;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    object-fit: cover;
}

#swiperNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.productSwiperSmallItem {
    width : 50px;
    height : 50px;
    border-radius: 15px;
    object-fit : cover;
    margin-top: 10px;
    margin-right : 10px;
    &:hover{
        cursor: pointer;
        transition: 200ms;
    }
}

@media (min-width : 640px){
    #swiperContainer{
        height : 600px;
    }
}

@media (min-width : 840px){
    #swiperContainer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        height : 600px;
    }
    .productSwiperMain{
        height : 600px;
        width : 600px; 
    }
    #swiperNav{
        align-content: flex-start;
        margin-top: 10px;
        width : 70px;
        height : 560px;
    }
}

@media (min-width : 1280px){
    #swiperContainer{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        width : 60%;
        height : 600px;
    }
}