.productUpdateInputContainer{
    width : 300px;
    & > span {
        color : red
    }
}
.productUpdateInputContainerNumber{
    display : flex;
    width : 300px;
    align-items: center;
    & > label{
        width : 100%;
        margin : 0px 10px;
        text-align: start;
        display : flex;
        flex-direction: row;
        color : var(--white_only);
    }

 
}
#productUpdateMainPriceContainer{
    background-color: var(--nuance_color4);
    box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.2);
    border-radius: 25px;
    padding : 20px; 
}
.ProducerPanelDropZoneContainer{
    width : 100%;
    margin-bottom: 30px;
}


.ProducerPanelDisplayContainer{
    width : 100%;
    display : grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
    grid-template-rows: repeat(2, 1fr);    /* 2 lignes */
    gap: 10px;
    
}
.producerPanelDisplayItemContainer{
    display : flex;
    align-items: center;
}
.producerPanelDisplayImageContainer{
    justify-content: center;
    position: relative;
    width : 150px;
    height : 150px;
}
.producerPanelDisplayImage{
    width : 150px;
    height : 150px;
    margin : 0px;
    object-fit:cover;
}
.producerPanelDisplayButtonContainer{
    position : absolute;
    bottom : 0;
    display : flex;
    &>button{
        border-radius: 0px;
        padding : 4px;
        margin : 0;
        width : 75px;
        height : 30px;
        &>.displayIcon{
            width : 20px;
        }
    }
}

.producerPanelArrowButton{
    bottom: 0px;
    border-radius: 0px;
    padding : 3px;
    margin : 0px 0px;
    width : 30px;
    height : 50px;
}

#productUpdateFirst{
    display : flex;
    justify-content: center;
}

#productUpdateMainInfo{
    width : 50%;
}
