.checkoutContainer{
    margin-top : 150px;
}

.checkOutForm{
    width : 400px;
    padding: 10px;
    border-radius : 15px;
    margin : auto;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin-top : 70px;
    padding-bottom : 30px;
    text-align: right;
}
.checkOutformRecap{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-right : 30px;
}
#logoCommande {
    width : 300px;
}
.checkoutLine{
    display: flex;
    justify-content: space-between;
    padding-left : 30px;
    padding-right : 30px;
}
.checkoutLineContainter{
    margin-bottom : 25px;
}
#checkoutButton{
    margin-top : 30px;
    border-radius: 10px;
    width : 100%;
    margin : auto;
}

#checkoutCardNumber{
    text-align: left;
    color : #9ca3af;
    font-size: 15px;
}
.checkoutDateContainer{
    display : flex;
    color : #9ca3af;
    font-size: 15px;
}
.checkoutDate{
    text-align: left;
    width : 60%;
    margin-bottom : 30px;
}
.checkoutsecurity{
    width : 40%;
    margin-left : 10px;
    text-align: left;
}

.StripeElement {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    padding: 10px 12px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ccd0d2;
    margin-bottom: 20px;
}

.StripeElement--focus {
    border-color: var(--nuance_color3);
    box-shadow: 0 0 0 1px var(--nuance_color);
}

.StripeElement--invalid {
    border-color: #fa755a;
    box-shadow: 0 0 0 1px #fa755a;
}