#orderScreenContainer {
    margin-top : 60px;

}

.orderContainer {
    border : 2px var(--nuance_color4) solid;
    margin-bottom: 20px;
    border-radius: 15px;
}

.orderProductContainer{
    margin : 10px;
    padding : 10px;
    background-color: var(--nuance_color5);
    border-radius: 15px;
}

.orderProductSection{
  display : flex;
  justify-content: space-between;
}

.orderProductItem{
    display : flex;
    flex-direction: column;
    justify-content: center;
}
  
#orderImage {
    width : 100px;
    height : 100px;
    border-radius : 15px;
    object-fit: cover;
}
.orderProductMainLine{
    display : flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
}
.download-label{
    color : white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    &:hover {
        color : blue;
    }
}
#orderInput {
    background-color: var(--nuance_color4);
    color: white;
}

.infoUserContainer{
    & div {
        display : flex;
        margin-left : 5px;
    }
}

.adressInfo{
    display : flex;
    & div {
        margin-left : 5px;
    }
}