.adressComponentContainer{
    align-self: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 10px;
    box-sizing: border-box;
    margin-top : 10px;
    background-color: var(--nuance_color5);
    &>div {
        width : 75%;
    }
}

.adressComponentSubContainer{
    display : flex;
    
    & .adresscountry{

        margin-right : 10px;
        width : 100%;
    }
    & .adressNumber {
        width : 80px;
        margin-right : 10px;
    }
    & .adressStreet{
        width :100%;
    }
    & .adressCode {
        width : 100%;
    }
}

.spanError{
    left : 0;
    color : rgb(172, 27, 27);
    font-size : 12px;
    margin-top : 0px;
}