#headerContainer {
    position : fixed;
    display : flex;
    top : 0;
    left:0;
    width : 90%;
    justify-content: space-between;
    background: var(--nuance_color5);
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding : 0px 0px;
    height : 80px;
    padding : 0px 5%;
    z-index: 9999;
    font-family: "Poppins", sans-serif;

}
#headerLogoContainer {
    display : flex;
    align-items: center;
    padding : 0px 10px;
    height : 50px;
}
#headerLogo{
    padding : 5px 0px;
    height : 35px; 
}

#headerNav {
    display : flex;
    justify-content: flex-start;
    width : 90%;
}
#HeaderRight{
    display: flex;
}
.headerItem {
    display : flex;
    border-left : 2px var(--nuance_color4) solid;
    list-style-type: none;
    align-items: center;
    padding : 0px 15px;
    height: 50px;
    cursor : pointer;
    transition-duration: 300ms;
    color : var(--hover_color);
    &:hover {
        opacity : 1;
        background-color: var(--nuance_color4);
        color : var(--hover_color);
        transition: 0.2s;
    }
    &>div>div>label.switch{
        justify-content:flex-start !important;
    }
    &.active {
        opacity : 1;
    }
}

#dropdown {
    position: relative;
    display: inline-block;
    & :hover {
        color : var(--hover_color)
    }
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nuance_color4);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 9;
    & div {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        & li {
            &:hover {
                background-color: var(--nuance_color3);
            }
        }
    }
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    & :hover {
        background-color: var(--nuance_color3);
    }
}

#dropdown:hover #dropdown-content {
    display: block;
}

#icons{
    cursor : pointer;
    display: none;
    font-size: 25px;
}

#headerNavMobile{
    opacity : 1;
    top : 50px;
    z-index: -1;
    padding : 0px 0px;
    position : fixed;
    margin-left: 0px;
    left : -100%;
    width : 100%;
    transition : 200ms;
    background-color: var(--nuance_color5);
}
.active #headerNavMobile{
    z-index: 0;
    opacity : 1;
    top : 50px;
    left : 0%;
}
.headerItemMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 0px;
    padding : 0px;
    height : 60px;
    border-radius: 0px;
    font-size: medium;
    text-align : center;
    justify-content: center;
    border-top : var(--nuance_color4) 2px solid;
    color: white;
    &:hover{
        transform: scale(1);
        background-color: var(--nuance_color4);      
    }
}
.headerItemMobileToggle{
    display: flex;
    align-items: center;
    text-align: center;
    border-left: 0px;
    padding : 0px;
    height : 60px;
    border-radius: 0px;
    font-size: medium;
    text-align : center;
    justify-content: center;
    border-top : var(--nuance_color4) 2px solid;
    color: white;
    position: relative;
    &>li{
        width : 100%;
        margin : auto;
        &>div>div>label.switch{
            justify-content: center !important;
        }
    }
    &:hover{
        transform: scale(1);
        background-color: var(--nuance_color4);      
    } 
}

@media (max-width : 840px){
    #icons {
        text-align: center;
        width : 40px;
        height : 40px;
        display : flex;
        align-items: center;
        justify-content: center;
        color : white;
    }
    #icons:before{
        content : '\2630';
        transition: 0.25s ease;
    }
    .active #icons:before{
        content : '\2715';
        transition: 0.25s ease;
    }
}