#toggleSwitchContainer{
    min-width : 100%;
    padding-left : 0px !important;
    &input:checked + label::before {
        background-color : black;
    }
    &input:focus + label::before {
        background-color : black;
    }
}
.switch {
    cursor: pointer;
    height : 50px;
    display : flex;
    align-items: center;
    justify-content: flex-start;
    transition : 0.3s;
    /* position : relative; */
    color : var(--hover_color);
    min-width: 100%;
    min-height: 100%; 
}

#iconSwitch{
    margin-right : 5px;
    height : 100%;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
} 

@media (max-width : 840px){
    #toggleSwitchContainer{
        margin : auto;
        min-width : 0;
}}
  