/* mobile first */
#footerContainer {
    display: flex;
    flex-direction: column;
    color : var(--nuance_color1);
    background-color: var(--nuance_color5);
    width : auto;
    padding: 20px;
    bottom : 0;
}

#footerInfo{
    display: flex;
    flex-direction: column;
    & a {
        color : var(--nuance_color1);
        & a:hover {
            color : white    
        }
    }
}

#footerContact{
    display: flex;
    flex-direction: column;
}

@media (min-width : 840px){
    #footerContainer {
    height : 150px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content:space-around; 
    }
}