#footerContainer {
    height : 150px;
    bottom : 0;
    color : var(--nuance_color1);
    background-color: var(--nuance_color5);
    width : auto;
    padding: 20px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content:space-around; 
}
#footerInfo{
    display: flex;
    flex-direction: column;
    & a {

        color : var(--nuance_color1);
        & a:hover {
            color : white
    
        }
    }
}
#footerContact{
    display: flex;
    flex-direction: column;
}
@media (max-width : 840px){
    #footerContainer {
        display: flex;
        flex-direction: column;
    }

}