/* .ProducerPanelDropZoneForm{
 
} */

.ProducerPanelDropZoneContainer{
    display : flex;
    justify-content: center;
    align-items: center;
    &>img{
        border : 2px solid;
        width : 150px;
        height : 150px;
    }
}
#ProducerPanelDropZoneImg{
    width : 300px;
    height : 100px;
}

#ProducerPanelProductsContainer{
    padding : 10px;
    display : grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colonnes de largeur égale */
    gap: 10px;
    width : 100%;
    justify-content: center;
}