#mainContainer {
  padding-top: 80px;
  padding-left:  5px;
  padding-right: 5px;
}

@media (min-width: 1024px) {
  #root {
    margin: 0 auto;
    padding : 0;
    text-align: center;
  }
  
  #mainContainer {
    min-height : 80vh;
    height : 100%;
    padding: 80px 5%;
  }
}