:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  --font_color : black;
  --title_color : black;
  --body_color: #DBC7AC;
  --link_color : black;
  --hover_color : white;
  --white_only : white;
  --primary_color : #DBC7AC;
  --nuance_color4 : #B1A595;
  --nuance_color3 : #86735B;
  --nuance_color2 : #5C482F;
  --nuance_color1 : #332412;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --white_only : white;
  --body_background : rgb(40, 44, 52);
  --nuance_color1 : #222222;
  --nuance_color2 : #333333;
  --primary_color : #4d4d4d;
  --nuance_color3 : #535353;
  --nuance_color4 : #6b6b6b;
  --font_color : rgb(255, 255, 255);
  --link_color : rgb(255, 255, 255);
  --title_color : rgb(255, 255, 255);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height : 100%;
  background-color: var(--primary_color);
}
p{
  color : black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
  margin : 0;
}

a {
  text-decoration: none;
  color : var(--link_color);
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

button {
  border-radius: 25px;
  border-style: none;
  padding : 10px;
  margin: 10px;
  font-weight: 700;
  cursor : pointer;
  background-color: var(--nuance_color2);
  color : var(--white_only);
  &:hover{
    background-color: var(--nuance_color3);
    box-shadow: 0px 0px 10px var(--nuance_color1);
  }
  &:active{
    background-color: var(--nuance_color1);
  }

}

input {
  border-radius: 25px 0 0 25px;
  padding: 10px;
  margin : 10px 0px;
  height :30px;
  width : 100%;
  border : 2px rgba(0, 0, 0, 0);
  background-color: var(--nuance_color4);
  color : black;
  outline: none;
  &:valid {
      border: 2px var(--white_only);
  }
  &::placeholder{
    font-weight: 700;
    color: var(--nuance_color2);
  }
}
