.cartValidationAddressContainer {
    background-color: var(--nuance_color5);
    border-radius: 15px;
    margin-top : 10px;
    color : var(--font_color);
    & :hover {
        cursor: pointer;
        border-radius: 15px;
        background-color: var(--nuance_color5);
    }
    & div.selected{
        background-color: green; 
        color : white;
        border-radius: 15px;
        & :hover {
            cursor: pointer;
            background-color: green; 
        }
    }
}

#carValidItemContianer{
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
}

.cartValidationItem{
    width : 100%;
    margin-top : 10px;
    border : 2px solid var(--nuance_color5);
    padding : 10px;
    border-radius : 25px;
    &>img {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        object-fit: cover;
    }
    &>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>div{
            width : 25%;
        }
        &>input{
            width: 25px;
        }
        &>input[type="radio"]:checked{
            background-color: var(--nuance_color5);
        }
    }
}

#deliveryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    &>div>p{
        font-size: 1.2em;
        font-weight: bold;
    }
}

#totalPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
       &>p{
        font-size: 2em;
        font-weight: bold;
    }
}

@media (min-width : 840px){
    #carValidItemContianer{
        width : 750px;
        margin : auto;   
    }
}